---
import { Icon } from 'astro-icon/components'
import Layout from '../layouts/Layout.astro';
import {IconArrowNarrowLeft, IconArrowNarrowUp} from '@tabler/icons-react'

---

<Layout title="Resume | Shuvo Anirban Roy | Full Stack Developer">
	<main class="mx-auto max-w-screen-lg h-full py-0 border-x border-dashed ">
		<header class="border-b border-dashed py-8 px-8">
			<a href="/" class="text-lg font-mono font-bold flex gap-4 transition-all duration-400 hover:-translate-x-4 hover:underline hover:underline-offset-4">  <IconArrowNarrowLeft/> Go Back to Home</a>
		</header>
		<section class="border-b border-dashed py-8 px-8 text-center flex flex-col justify-center align-center gap-4">
			<h1 class="text-4xl font-bold">Resume</h1>
			<p class="text-md font-mono">Last updated: September 27,2024</p>
		</section>
		<section class="border-b border-dashed py-8 px-8 text-center flex flex-col justify-center align-center gap-4">
			<h2 class="text-3xl font-bold">Shuvo Anirban Roy</h2>
			<p class="text-md font-mono">Dhaka, Bangladesh</p>
			<p class="text-md font-mono">Personality Type: INTJ-A (Assertive Architect)</p>
		</section>
		<section class="border-b border-dashed py-8 px-8 flex justify-start gap-4">
			<div class="sticky top-0 max-h-28 w-1/4">
				<h2 class="text-xl md:text-2xl font-bold">Profile</h2>
			</div>
			<div class="flex flex-col w-3/4">
				<p class="text-md font-mono">With 8+ years of hands-on experience, I specialize in crafting visually appealing and high-performing E-commerce applications using Javascript framework. I collaborate closely with Design and Product teams to deliver impactful features and products. My expertise spans advanced knowledge in Vue, React, Sanity CMS, Next.js and Node.js, along with strong communication and technical skills to ensure smooth project execution.</p>
			</div>
		</section>
		<section class="border-b border-dashed py-8 px-8 flex justify-start gap-4">
			<div class="sticky top-0 max-h-28 w-1/4">
				<h2 class="text-xl md:text-2xl font-bold">Experience</h2>
			</div>
			<div class="flex flex-col w-3/4 gap-4">
				<div class="flex flex-col gap-2">
					<div class="flex flex-col md:flex-row gap-2 justify-between items-start md:items-center">
						<a href="https://operationnation.co/" target="_blank" rel="noopener noreferrer"><h3 class="text-xl transition-all duration-400 hover:-translate-x-4 hover:underline hover:underline-offset-4 font-bold">Operation Nation, USA (Remote)</h3></a> 
						<p class="font-mono text-lg">September 2022 - September 2024</p>
					</div>
					<h3 class="font-bold font-mono text-lg">SENIOR FULL-STACK WEB DEVELOPER</h3>
					<ul class="font-mono text-md list-disc flex flex-col gap-2 ml-4">
						<li>Optimized web applications for maximum speed and scalability, enhancing overall performance.</li>
						<li>Established a strong online presence by creating visually appealing websites showcasing clients.</li>
						<li>Performed thorough testing of web applications to identify and fix bugs before product releases.</li>
						<li>Contributed to open-source projects enhancing the reputation of the company within the tech community.</li>
						<li>Conducted code reviews, promoting best practices within the development team to maintain high-quality output.</li>
						<li>Mentored junior developers, contributing to their professional growth and skill development.</li>
						<li>Created powerful Content Management Systems to serve as an interface for clients.</li>
						<li>Completed full redesigns of existing websites to improve navigation, enhance visuals, and strengthen search engine rankings.</li>
					</ul>
				</div>
				<div class="border-b border-dashed my-2 w-full"></div>
				<div class="flex flex-col gap-2">
					<div class="flex flex-col md:flex-row gap-2 justify-between items-start md:items-center">
						<a href="https://matthewluke.design/" target="_blank" rel="noopener noreferrer"><h3 class="text-xl transition-all duration-400 hover:-translate-x-4 hover:underline hover:underline-offset-4 font-bold">Pulse Inc, USA (Remote)</h3></a> 
						<p class="font-mono text-lg">June 2022 - December 2022</p>
					</div>
					<h3 class="font-bold font-mono text-lg">FULL STACK WEB DEVELOPER</h3>
					<ul class="font-mono text-md list-disc flex flex-col gap-2 ml-4">
						<li>Proved successful working within tight deadlines and a fast-paced environment.</li>
						<li>Developed a browser extension using WebRTC technology and vanilla js</li>
						<li>Integrated third-party APIs to enhance functionality and improve overall user experience on web platforms.</li>
						<li>Used NodeJS, and MongoDB to develop and manage databases.</li>
					</ul>
				</div>
				<div class="border-b border-dashed my-2 w-full"></div>
				<div class="flex flex-col gap-2">
					<div class="flex flex-col md:flex-row gap-2 justify-between items-start md:items-center">
						<a href="https://matthewluke.design/" target="_blank" rel="noopener noreferrer"><h3 class="text-xl transition-all duration-400 hover:-translate-x-4 hover:underline hover:underline-offset-4 font-bold">Matthew Luke Studio, UK (Remote)</h3></a> 
						<p class="font-mono text-lg">January 2021 - December 2022</p>
					</div>
					<h3 class="font-bold font-mono text-lg">FULL STACK WEB DEVELOPER</h3>
					<ul class="font-mono text-md list-disc flex flex-col gap-2 ml-4">
						<li>Used Sanity.io Headless CMS, Vue.js, Nuxt.js, React.js, Gatsby, Tailwind CSS, GraphQL and GROQ to develop app-solutions.</li>
						<li>Increased website performance by optimizing front-end and back-end code for faster loading times.</li>
						<li>Maintained complex technology infrastructure and collaborated with product team to implement new features and strategically plan for future products.</li>
						<li>Developed user-friendly web forms with validation and error handling.</li>
						<li>Optimized web applications for speed, scalability, and security.</li>
						<li>Performed unit testing of web applications and troubleshooting issues.</li>
						<li>Created powerful Content Management Systems to serve as interface for clients.</li>
					</ul>
				</div>
				<div class="border-b border-dashed my-2 w-full"></div>
				<div class="flex flex-col gap-2">
					<div class="flex flex-col md:flex-row gap-2 justify-between items-start md:items-center">
						<a href="https://123workforce.com/" target="_blank" rel="noopener noreferrer"><h3 class="text-xl transition-all duration-400 hover:-translate-x-4 hover:underline hover:underline-offset-4 font-bold">123workforce, Ireland (Remote)</h3></a> 
						<p class="font-mono text-lg">December 2019 - December 2020</p>
					</div>
					<h3 class="font-bold font-mono text-lg">FRONT END WEB DEVELOPER</h3>
					<ul class="font-mono text-md list-disc flex flex-col gap-2 ml-4">
						<li>Assembled and addressed technical and design requirements, integrating user-facing and front-end elements to maintain web presence effectiveness.</li>
						<li>Collaborated with stakeholders during development processes to confirm creative proposals and design best practices.</li>
						<li>Followed SDLC best practices within Agile environment to produce rapid iterations for clients.</li>
						<li>Improved tools to boost user interaction and deliver design versatility.</li>
						<li>Use regulatory and compliance standards for user interface designs.</li>
						<li>Integrated web applications for mobile platforms into front end environment.</li>
						<li>Coded using HTML, CSS and JavaScript to develop features for both mobile and desktop platforms.</li>
						<li>Delivered responsive web design projects in Agile framework.</li>
						<li>Translated UX and business requirements into elegant code solutions.</li>
					</ul>
				</div>
				<div class="border-b border-dashed my-2 w-full"></div>
				<div class="flex flex-col gap-2">
					<div class="flex flex-col md:flex-row gap-2 justify-between items-start md:items-center">
						<a href="https://boikotha.com/" target="_blank" rel="noopener noreferrer"><h3 class="text-xl transition-all duration-400 hover:-translate-x-4 hover:underline hover:underline-offset-4 font-bold">Boi Kotha, Bangladesh (On-site)</h3></a> 
						<p class="font-mono text-lg">February 2018 - October 2019</p>
					</div>
					<h3 class="font-bold font-mono text-lg">FULL STACK WEB DEVELOPER</h3>
					<ul class="font-mono text-md list-disc flex flex-col gap-2 ml-4">
						<li>Used Vue.js, PHP, Laravel, Bootstrap, and JS to develop app-solutions.</li>
						<li>Maintained complex technology infrastructure and collaborated with the product team to implement new features and strategically plan for future products.</li>
						<li>Developed efficient and maintainable software according to business objectives and needs of clients.</li>
						<li>Reviewed code, debugged problems and corrected issues.</li>
					</ul>
				</div>
				<div class="border-b border-dashed my-2 w-full"></div>
				<div class="flex flex-col gap-2">
					<div class="flex flex-col md:flex-row gap-2 justify-between items-start md:items-center">
						<a href="https://codebuilderit.com/" target="_blank" rel="noopener noreferrer"><h3 class="text-xl transition-all duration-400 hover:-translate-x-4 hover:underline hover:underline-offset-4 font-bold">Code Builder IT, Bangladesh (On-site)</h3></a> 
						<p class="font-mono text-lg">January 2017 - November 2018</p>
					</div>
					<h3 class="font-bold font-mono text-lg">FULL STACK WEB DEVELOPER</h3>
					<ul class="font-mono text-md list-disc flex flex-col gap-2 ml-4">
						<li>Applied responsive design principles to ensure consistent display and functionality across a wide range of devices, including mobile phones, tablets, and desktop computers.</li>
						<li>Migrated legacy systems to modern technologies, resulting in improved system stability and reduced maintenance costs.</li>
						<li>Improved and designed monitoring systems to address issues with system stability and quality of data.</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="border-b border-dashed py-8 px-8 flex justify-start gap-4">
			<div class="sticky top-0 max-h-28 w-1/4">
				<h2 class="text-xl md:text-2xl font-bold">Education</h2>
			</div>
			<div class="flex flex-col w-3/4 gap-4">
				<div class="flex flex-col gap-2">
					<div class="flex flex-col md:flex-row gap-2 justify-between items-start md:items-center">
						<h3 class="text-xl transition-all duration-400 hover:-translate-x-4 hover:underline hover:underline-offset-4 font-bold">NATIONAL UNIVERSITY OF BANGLADESH</h3>
						<p class="font-mono text-lg">2014 - 2019</p>
					</div>
					<h3 class="font-bold font-mono text-lg">Computer Science And Engineering</h3>
				</div>
				<div class="border-b border-dashed my-2 w-full"></div>
				<div class="flex flex-col gap-2">
					<div class="flex flex-col md:flex-row gap-2 justify-between items-start md:items-center">
						<h3 class="text-xl transition-all duration-400 hover:-translate-x-4 hover:underline hover:underline-offset-4 font-bold">B.A. GREENHEART COLLEGE</h3>
						<p class="font-mono text-lg">2011 - 2013</p>
					</div>
					<h3 class="font-bold font-mono text-lg">Higher Secondary Certificate</h3>
				</div>
			</div>
			
		</section>
		<section class="border-b border-dashed py-8 px-8 flex justify-start gap-4">
			<div class="sticky top-0 max-h-28 w-1/4">
				<h2 class="text-xl md:text-2xl font-bold">Technical Skills</h2>
			</div>
			<div class="flex flex-col md:flex-row justify-between w-3/4 gap-4 md:gap-2">
				<div class="flex flex-col gap-2">
					<h3 class="font-bold font-mono text-xl underline">Stacks</h3>
					<ul class="checklist">
						<li> <Icon name="mdi:check" /> HTML5</li>
						<li> <Icon name="mdi:check" /> CSS3</li>
						<li> <Icon name="mdi:check" /> Javascript</li>
						<li> <Icon name="mdi:check" /> Typescript</li>
						<li> <Icon name="mdi:check" /> React</li>
						<li> <Icon name="mdi:check" /> GraphQL</li>
						<li> <Icon name="mdi:check" /> Sanity CMS</li>
						<li> <Icon name="mdi:check" /> GROQ</li>
						<li> <Icon name="mdi:check" /> Framer Motion</li>
						<li> <Icon name="mdi:check" /> Panda CSS</li>
						<li> <Icon name="mdi:check" /> Tailwind CSS</li>
						<li> <Icon name="mdi:check" /> Jest</li>
						<li> <Icon name="mdi:check" /> NodeJS</li>
						<li> <Icon name="mdi:check" /> Express</li>
						<li> <Icon name="mdi:check" /> MongoDB</li>
						<li> <Icon name="mdi:check" /> Supabase</li>
						<li> <Icon name="mdi:check" /> PHP</li>
						<li> <Icon name="mdi:check" /> Firebase</li>
						<li> <Icon name="mdi:check" /> Bootstrap</li>
						<li> <Icon name="mdi:check" /> Material Design</li>
						<li> <Icon name="mdi:check" /> Wordpress</li>
						<li> <Icon name="mdi:check" /> Shopify</li>
						<li> <Icon name="mdi:check" /> Next.js</li>
						<li> <Icon name="mdi:check" /> Gatsby.js</li>
						<li> <Icon name="mdi:check" /> Nuxt.js</li>
						<li> <Icon name="mdi:check" /> Astro.js</li>
						<li> <Icon name="mdi:check" /> AWS</li>
					</ul>
				</div>
				<div class="border-b border-dashed my-2 w-full block md:hidden "></div>
				<div class="flex flex-col gap-2">
					<h3 class="font-bold font-mono text-xl underline">Soft Skills</h3>
					<ul class="checklist">
						<li> <Icon name="mdi:check" /> Creative</li>
						<li> <Icon name="mdi:check" /> Innovative</li>
						<li> <Icon name="mdi:check" /> Problem solver</li>
						<li> <Icon name="mdi:check" /> Quick learner</li>
						<li> <Icon name="mdi:check" /> Open-minded</li>
						<li> <Icon name="mdi:check" /> Adaptable</li>
						<li> <Icon name="mdi:check" /> Empathetic</li>
						<li> <Icon name="mdi:check" /> Motivated</li>
					</ul>
				</div>
				<div class="border-b border-dashed my-2 w-full block md:hidden "></div>
			<div class="flex flex-col gap-2">
					<h3 class="font-bold font-mono text-xl underline">Tools</h3>
					<ul class="checklist">
						<li> <Icon name="mdi:check" /> VS Code</li>
						<li> <Icon name="mdi:check" /> Cursor</li>
						<li> <Icon name="mdi:check" /> Clickup</li>
						<li> <Icon name="mdi:check" /> Git</li>
						<li> <Icon name="mdi:check" /> Postman</li>
						<li> <Icon name="mdi:check" /> Webpack</li>
						<li> <Icon name="mdi:check" /> Livekit</li>
						<li> <Icon name="mdi:check" /> AWS</li>
					</ul>
				</div>
			</div>
			
		</section>
	
		<section class="border-b border-dashed py-8 px-8 flex justify-between">
			<a href="#top" class="text-lg font-mono font-bold flex gap-4  transition-all duration-400 hover:-translate-x-4 hover:underline hover:underline-offset-4">  <IconArrowNarrowUp/> Go to Top</a>
		<a href="/resume_shuvo_anirban_roy.pdf" target="_blank" class="text-lg font-mono font-bold flex gap-4  transition-all duration-400 hover:translate-x-4 hover:underline hover:underline-offset-4"> Download my resume</a>
		</section>
	</main>
</Layout>

<style is:inline>
	html,body{
		scroll-behavior: smooth;
	}
	.checklist{
  font-family: Geist Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  gap:0.5rem;
  flex-direction: column;
  display: flex;
  li {
    display: flex;
    gap:0.5rem;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
p,li {
		color : rgb(187, 187, 191);
  }
	h3{
		color:  rgb(196, 196, 197);
	}
</style>


