---
const getFullYear = new Date().getFullYear()
---
<footer class="flex-col justify-center align-center text-center px-8 py-8 w-full border-t border-dashed">
  <h2 class="'text-4xl font-bold">Shuvo Roy</h2>
  <p>Built with <a class="font-bold hover:underline hover:text-gray-400 transition-colors duration-400" href="https://astro.build/">Astro</a> & <a class="font-bold hover:underline hover:text-gray-400 transition-colors duration-400" href="https://react.dev/">React</a></p>
  <p>© Copyright {getFullYear} - Shuvo Roy. All rights reserved.</p>
</footer>