---
import Footer from './Footer.astro'



interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark font-sans" >
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class=`antialiased dark:bg-brand bg-white`>
		<slot />
		<Footer/>
	</body>
</html>

<style is:global>
	:root {
		--font-fallback: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
			"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;
	}
	@font-face {
  font-family: 'Geist';
  src: url('/fonts/GeistVF.woff2') format('woff2');
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
	}
	@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMonoVF.woff2') format('woff2');
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
	}
	
</style>